.squares-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(#E2E2E2, rgb(255, 255, 255));
}

.square {
    background-color: black;
    transition-property: transform;
    transition-duration: 250ms;
    cursor: pointer;
}

.square.active {
    animation-name: square-wave;
    animation-duration: 400ms;
}

.square:hover {
    transform: scale(2);
}

.square-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    mix-blend-mode: lighten;
    background-color: rgb(240, 240, 240);
}

.squares-layer-container {
    position: relative;
    background-image: url('./assets/tree.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes square-wave {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(2.0)
    }
    100% {
        transform: scale(1)
    }
}