.galaxy__back {
  background-color: rgb(27, 27, 27);
  background-image: url(assets/galaxy-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 110%;
  width: 110%;
  margin-left: -5%;
  margin-top: -5%;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgb(245, 253, 255);
  border-radius: 50%;
  box-shadow: 0 0 10px 3px white;
}

#app{
  overflow: hidden;
}